/* General styling */
body {
    background-color: #171717;
    padding-top: 5rem;
    font-family: Helvetica;
    color: #fff;
    text-align: center;
}

.profilephoto {
    display: block;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    border-radius: 50%; /* Adjusted for circular profile photo */
}

.description {
    font-size: 18px;
    margin-top: 0.5rem;
}

.main {
    margin-top: 2rem;
}

.button1 {
    display: block;
    width: 200px; /* Set the width of each button */
    color: white;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 15px 0; /* Adjusted padding for larger size */
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: background-image 0.3s, box-shadow 0.3s;
    font-size: 18px; /* Larger font size */
    text-decoration: none;
    cursor: pointer;
    outline: none;
    margin: 10px auto; /* Center the buttons horizontally and add margin between them */
}

.button1:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

/* Glitch effect CSS */
.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; /* Ensure relative positioning for absolute glitch text */
}

.glitch {
    position: relative;
    font-size: 48px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    line-height: 1.2;
    color: #d60606; /* Main glitch color */
    letter-spacing: 5px;
    z-index: 1;
}

.glitch:before,
.glitch:after {
    display: block;
    content: attr(data-glitch); /* Display glitched text from data attribute */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8; /* Adjust opacity as needed */
}

.glitch:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #b112d1; /* Color for glitch animation */
    z-index: -1;
}

.glitch:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #ff00ff; /* Color for glitch animation */
    z-index: -2;
}

@keyframes glitch-color {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-3px, 3px);
    }

    40% {
        transform: translate(-3px, -3px);
    }

    60% {
        transform: translate(3px, 3px);
    }

    80% {
        transform: translate(3px, -3px);
    }

    to {
        transform: translate(0);
    }
}
